<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>todoApp</h1>
      <form v-on:submit.prevent>
        <input type="text" v-model="newTodo" />
        <button type="submit" v-on:click="addTodo">Add</button>
      </form>

      <ul>
        <li v-for="(todo,index) in todos" key="todo">
          <input type="checkbox" v-model="todo.isDone" />
          <span v-bind:class="{done: todo.isDone}">{{todo.todo}}</span>
          <button v-on:click="deleteTodo(index)">Delete</button>
        </li>
      </ul>

      <pre>{{ $data }}</pre>
    </div>
  </body>
  <script src="./main.js"></script>
</html>
